@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-light-blue: #40CFFF;
  --color-primary-blue: #00BCFF;
  --color-dark-blue: #1D232A;
  --color-darkest-blue: #FF00A8;
}

:root {
  background-color: var(--color-dark);
}